h2 {
    margin-top: 40px;
    margin-left: 80px;
}

hr {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);

    width: 80%;
}

#projects-section {
    display: flex;
    align-items: center;
    justify-content: center;

    .projects-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 80%;

        .project-items {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            padding: 15px;
            gap: 32px;
    
            .item {
                flex: 1;
                text-align: center;

                h3 {
                    font-family: sans-serif;
                    color: var(--primary-text);
                }

                p {
                    color: white;
                    text-align: start;
                }

                .div-btn {
                    display: flex;
                    justify-content: flex-start;
                }
            }
    
            img {
                width: 400px;
                max-width: 100%;
                height: auto;

                max-height: 270px;
            }
        }
    }
}

@media screen and (min-width: 920px) {    
    #projects-section 
    .projects-content 
    .project-items {
        flex-direction: row;
        
    }

    hr {
        width: 100%;
    }

    #projects-section 
    .projects-content
    .project-items
    .item
    .div-btn {
        display: flex;
        justify-content: center;
    }

//     #projects-section 
//     .projects-content 
//     .project-items 
//     .img {
//         visibility: visible;
//     }
}