
<h2>Projects</h2>
<section id="projects-section" class="section">
    <div class="projects-content">
        <div class="project-items">
            <div class="item">
                <h3>Catalogo de cães</h3>
                <p>Uma aplicação desenvolvida em React Native, na qual apresenta cães de diversas raças assim como informações de cada um deles</p>
                <div class="div-btn">
                    <a class="btn btn-styles" target="_blank" href="https://github.com/ClaudioHenr/DogsCatalogue">
                        Conferir...
                    </a>
                </div>
            </div>
            <div class="item">
                <img src="./assets/images/caes.webp" alt="" loading="lazy">
            </div>
        </div>
        <hr/>
        <div class="project-items">
            <div class="item">
                <h3>Bantads</h3>
                <p>Aplicação feita em Angular 17, de um site de Banco, com uma interface amigavel, um back-end feito com arquitetura de microsserviços e mais...</p>
                <div class="div-btn">
                    <a class="btn btn-styles" target="_blank" href="https://github.com/ClaudioHenr/voa-tads">
                        Conferir...
                    </a>
                </div>
            </div>
            <div class="item">
                <img src="./assets/images/bancos_comerciais.jpg" alt="" loading="lazy">
            </div>
        </div>
    </div>
</section>