
<h2>Skills</h2>
<section id="skills-section" class="section">
    <div class="skills-content">
        <a href="https://angular.dev/">
            <fa-icon [icon]="faAngular" size="8x"></fa-icon>
        </a>
        <a href="https://react.dev/">
            <fa-icon [icon]="faReact" size="8x"></fa-icon>
        </a>
        <a href="https://www.java.com/pt-BR/">
            <fa-icon [icon]="faJava" size="8x"></fa-icon>
        </a>
        <a href="https://html.com/">
            <fa-icon [icon]="faHtml5" size="8x"></fa-icon>
        </a>
        <a href="https://css3.com/">
            <fa-icon [icon]="faCss3Alt" size="8x"></fa-icon>
        </a>
        <a href="https://www.python.org/">
            <fa-icon [icon]="faPython" size="8x"></fa-icon>
        </a>
        <a href="https://www.mysql.com/">
            <fa-icon [icon]="faDatabase" size="8x"></fa-icon>
        </a>
    </div>
</section>
