
a {
    color: black;

    &:hover {
        color: var(--tertiary-color);
    }
}

fa-icon {
    padding: 10px;
}

h2 {
    margin-top: 40px;
    margin-left: 80px;
}

#skills-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);

    width: 100%;
    height: 50vh;

    margin-top: 20px;
    margin-bottom: 40px;

    .skills-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        width: 80%;

        a {
            padding: 15px;
        }
    }
}
