<app-nav></app-nav>
<main>
    <section id="header-section">
        <div class="header-text">
            <h1>Claudio Oliveira</h1>
            <h2>Desenvolvedor</h2>
            <div class="header-icons">
                <a href="https://github.com/ClaudioHenr">
                    <fa-icon [icon]="faGithub" size="2x"></fa-icon>
                </a>
                <a href="https://www.linkedin.com/in/claudio-oliveira20">
                    <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
                </a>  
            </div>
        </div>
        <div class="header-image">
            <img src="./assets/images/space_cowboy.png" alt="">
        </div>
    </section>

    <app-skills></app-skills>

    <app-projects></app-projects>

</main>
<app-footer></app-footer>
