<app-nav></app-nav>
<main>    
    <section id="header-section">
        <div class="header-content">

            <span>
                <fa-icon [icon]="faCode" size="4x"></fa-icon>
            </span>
            <div>
                <h1>Claudio Oliveira</h1>
                <h2>Desenvolvedor FullStack</h2>
            </div>
            <div class="header-icons">
                <a href="https://github.com/ClaudioHenr" target="_blank">
                    <fa-icon rel="preload" [icon]="faGithub" size="2x" loading="lazy"></fa-icon>
                </a>
                <a href="https://www.linkedin.com/in/claudio-oliveira20" target="_blank">
                    <fa-icon rel="preload" [icon]="faLinkedin" size="2x" loading="lazy"></fa-icon>
                </a>
            </div>
        </div>
        <div class="header-image">
            <img src="./assets/images/me06_1-removebg.png" alt="">
        </div>
    </section>
    <app-skills></app-skills>
    
    <app-projects></app-projects>

</main>
<app-footer></app-footer>
