:root {
    --primary-color: #2b2a33;
    --secondary-color: #42414d;
    --tertiary-color: #778DA9;
    --quaternary-color: #0D1B2A;
    --quinary-color: ;
    --senary-color: ;
    --primary-text: rgb(206, 202, 202);
}
