:root {
    --primary-color: #2b2a33;
    --secondary-color: #42414d;
    --tertiary-color: rgb(224, 31, 31);
    --quaternary-color: ;
    --quinary-color: ;
    --senary-color: ;
    --primary-text: rgb(206, 202, 202);
}
