/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Rouge+Script&family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&family=Ruthie&family=Send+Flowers&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
}



.section {
    margin-top: 20px;
    margin-bottom: 40px;

    scroll-margin-top: 160px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 14px;
}

.btn-styles {
    transition-duration: 0.4s;
    background-color: var(--quaternary-color);
}

.btn-styles:hover {
    background-color: var(--tertiary-color)
}

h2 {
    font-size: 46px;
    font-family: sans-serif;
    color: var(--primary-text);
}

h3 {
    font-size: 32px;
}

p {
    font-size: 26px;
}